 .form-style{
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .input-field{
     padding: 10px;
     width: 100%;
     border: none;
     border-bottom: 1px solid grey;
     outline: none;
 }
 .submit-button{
    /* background-color: #7aecdb; */
     background-color: #0dd6b8;
     color: white;
     width: 40%;
     padding: 8px;
     border: none;
     border-radius: 5px;
 }
 .google-button{
    /* background-color: #f7227a; */
    background-color: orange;
    color: white;
    width: 40%;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
.link-style{
    text-decoration: none;
    /* color: orange; */
    color: #0dd6b8;
}